h1{
    text-align: center;
    margin: 4vh 0;
}
/* btn ajouter chantier */
#add{
    text-decoration: none;
    padding: 5px  10px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    margin-bottom: 5vh;
    margin-left: 43%;

}
#add:hover{
    background-color: grey;
    color: white;
}
/* phrase  */
#att{
    width: 100%;
    margin: 5vh 0;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}
p span{
    font-style: normal;
    font-weight: bold;
    color: rgb(179, 22, 22);
}

section section{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin-left: 3%;
    /* border: 1px solid black; */
}
article{
    width: 48.5%;
    height: 31vh;
    border: grey 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 1vw;
    margin-bottom: 2vh;
    font-size: 0.9rem;
    padding-right: 5px;
    overflow: hidden;
}
.img{
    width: 35%;
    margin-right: 2vw;
}
.img img{
    width: 100%;
}
.txt{
    width: 65%;
}
.txt a:hover{
    font-weight: bold;
}
.txt p:nth-child(4){
    text-align: justify;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

