{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/base.css') }}">
{% endblock %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
    <section>
        <h1>Bienvenue sur votre espace administrateur</h1>
        <p>Ici vous pourrez consulter vos messages et demande de devis,<br>
        gérer vos prospects ainsi que vos chantiers.</p>
        <p>Attention dans vos manipulations, toute donnée supprimée par inadvertence est irrécupérable.</p>
        <p>L'espace administration est plus accessible sur la version web.</p>
    </section>

{% endblock %}