{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/base.css') }}">
{% endblock %}

{% block title %}
    <title>Accueil</title>
{% endblock %}

{% block body %}
<h1>SALUUT</h1>
{% endblock %}