{% extends 'admin.layout.html.twig' %}

{% block title %}
    <title>Mes devis</title>
{% endblock %}

{% block body %}
    
    <object type="application/pdf" name="PDF" data="..\pdfs\devis_14-04-2023_14h20m14s_b.pdf">
        <embed src="/pdfs/devis_14-04-2023_15h10m42s_bc.pdf" type="application/pdf">
    </object>
    <iframe src="https://docs.google.com/viewer?url=http://localhost/App/Admin/pdfs/devis_14-04-2023_15h10m42s_bc.pdf" height="100%" width="100%"></iframe>
    {# {{devis}} #}
    {{devis.pdfPath}}
    {{chemin}}
    <p>cc</p>
{% endblock %}