{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/prospects.css') }}">
{% endblock %}

{% block title %}
    <title>Mes prospects</title>
{% endblock %}

{% block body %}
    <section>
        <h1>Liste des prospects</h1>
    </section>



{% endblock %}