@media screen and (max-width:992px){
    main p:nth-child(1){
        margin-bottom: 2vh;
        color: red;
    }
    main section{
        flex-direction: column;
        height: 67vh;
        margin-bottom: 2vh;
    }
    main>section>div{
        width: 100%;
        height: 50vh;
    }
    main div article{
        height: 100%;
    }
    main div article div{
        width: 100%;
        height: 5vh;
        bottom: 0;
    }
    section aside article{
        width: 40vw !important; 
        height: 15vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
       
    }
    aside{
        width: 100%;
        margin-left: 0;
        padding-right: 1vw;
        margin-top: 1vh;
        margin-bottom: -8vh;
        height: 18vh;
        padding-bottom: 3vh;
    }

}