@media screen and (max-width:992px){
    main>p{
        margin-bottom: 1vh;
    }
    main section{
        flex-direction: column;
        height: 68vh;
        margin-bottom: 0;
        padding-bottom: 9vh;
        
    }
    main>section>div{
        width: 100%;
        height: 50vh;
    }

    main div div{
        width: 100%;
        height: 5vh;
        bottom: 0;
    }
    section aside article{
        width: 40vw; 
        height: 17.5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
       
    }
    aside{
        width: 96%;
        margin-left: 2%;
        padding-right: 1vw;
        margin-top: 1vh;
        margin-bottom: -8vh;
        height: 20vh;
        padding-bottom: 1vh;
    }

}

@media screen and (max-width:600px){
    main div div{
        height: 8.35vh;
        font-size: 0.8rem;
    }
}