@media screen and (max-width:922px){
    /* fleche affiche questions */
    my-div:first-child{
        display: block;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 3vh;
    }
    my-div:first-child img{
        width: 20px;
        margin: 0vh 1vw;
    }

    /* questions versions pc */
    #quest{
        display: none;
    }

    /* zone reponse */
    #rep{
        width: 96%;
        top: 18vh;
        left: 2vw;
    }

    #prems{
        height: 75.9vh;
    }

    /* zone questiosn responsive */
    #quests{
        min-height:82vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: rgb(213, 180, 61) 1px solid;
        position: absolute;
        top: 8vh;
        left: -100vw;
        z-index: 2;
        display: block;
    }
    /* afficher/cacher liste questions */
    .hola{
        animation-name: hola;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
    @keyframes hola{
        from{
            left: -100vw;
        }to{
            left: 0;
        }
    }
    .tschuss{
        animation-name: tschuss;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
    @keyframes tschuss{
        from{
            left: 0vw;
        }to{
            left: -100vw;
        }
    }


    /* croix fermer questions */
    #quests p:first-child{
        /* border: 1px solid black; */
        width: 96%;
        height: 5vh;
        text-align: end;
        margin-top: 2vh;
        margin-bottom: 3vh;
    }
    #quests p img:first-child{
        height: 100%;
        transform: rotate(45deg);
    }

    details{
        /* border: 1px solid black; */
        width: 96%;
        margin-left: 2%;
        font-size: 1.2rem;
        padding: 0 10px;
    }
    summary{
        background-color: rgba(255, 253, 247, 0.842);
        border: rgb(213, 180, 61) 1px solid;
        border-radius: 5px;
        font-size: 1.5rem;
        margin-bottom: 0.5vh;
        padding-left: 2vw;
    }
    details p{
        margin: 2vh 0;
    }
    main{
        min-height: 79vh;
    }
}