*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(68, 68, 68);
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: white;

}
header ul{
    width: 74%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header li{
    list-style: none;
}
header a{
    text-decoration: none;
    font-size: 1.2rem;
}
.pageActive{
    font-size: 1.5rem;
}

.cache{
    display: none;
}

.photoMod{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50vw;
    height: 30vh;
    border: 1px grey solid;
    border-radius: 20px;
    background-color: rgb(199, 199, 199);
    padding: 5%;
}
.photoMod p{
    width: 100%;
    text-align: center;
    margin: 0;
}
.photoMod button{
    border: none;
    background-color: grey;
    color: white;
    width: 15%;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 40%;
    font-size: 1.2rem;
    padding: 1% 3%;
}
.photoMod button:hover{
    cursor: pointer;
}
