section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 5vh 0;
}
p{
    margin-bottom: 3vh;
    font-style: italic;
    font-size: 0.8rem;
}
table{
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 10vh;
}
tbody td{
    text-align: center;
    height: 100%;
}
tbody tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}
thead{
    background-color: rgb(161, 161, 161);
    text-transform: uppercase;
}
tbody tr td:nth-child(3){
    width: 45%;
    text-align: justify;
}
tbody tr td:nth-child(4){
    width: 10%;
}
tbody td a:nth-child(5){
    padding: 2px;
    font-size: 0.9rem;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

tbody tr td:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}
tr a{
    text-decoration: none;
}
tr a:hover, tbody tr td:last-child p:hover{
    font-weight: bold;
}
tbody tr td:last-child p{
    cursor: pointer;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 0;
}
section section p{
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 0;
}
