tbody{
    position: relative;
}
.suppr{
    border: 1px grey solid;
    border-radius: 15px;
    width: 36%;
    margin-left: 32%;
    height: 15vh;
    position: fixed;
    top:50%;
    left:0;
    z-index: 3;
    background-color: white;
}
.suppr p{
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}
.suppr a{
    position: absolute;
    bottom: 2vh;
    left: 7vw;
}
.suppr button{
    position: absolute;
    bottom: 2vh;
    right: 7vw;
    cursor: pointer;
}

.suppr a, .suppr button{
    border: none;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    text-decoration: none;
}

.suppr button:hover{
    background-color: grey;
    color: white;
}

.suppr a:hover{
    background-color: rgb(180, 17, 17);
    color: white;
}

.agentDormant{
    display: none;
}
.attaque{
    display: block;
}

.normal{
    filter: none;
}
.blur{
    filter: blur(3px);
}
