/* pages devis 3 et 4 */

/* le container */
#p3{
    height: 55vh;
    width: 70%;
    position: absolute;
    top: 15vh;
    left: -100vw;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: beige; */
}

/* le textarea */
#descriptionProjet{
    border: none;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    font-size: 1rem;
    padding: 15px;
}



/* btn suivant 3 */
#s3{
    bottom: 1vh;
    right: -10vw;
}
/* btn precedent page 3 */
#pre3{
    bottom: 1vh;
    left: -10vw;
}



/* le container */
#p4{
    height: 52vh;
    width: 70%;
    position: absolute;
    top: 20vh;
    left: -100vw;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: beige; */
}

/* le blabla légalité */
#p4 p{
    font-size: 0.7rem;
    text-align: justify;
    width: 50%;
    margin-top: 3vh;
}

form{
    position: relative;
    width: 50%;
    height: 50vh;
    margin-top: 2vh;

}
form div{
    position: relative;
    height: 50px;
}
/* inputs */
form div input{
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 3;
    margin-top: 12px;
}

/* labels */
form div label{
    position: absolute;
    left: 0;
    top: 5px;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #333;
    letter-spacing: 0.05rem;
    z-index: 2;
}
/* deco, le i qui s'étend*/
form div i{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    z-index: 2;
    border-radius: 15px;
    pointer-events: none;
}
/* faire remonter le label */
#nom1:valid ~ #labNom1,
#nom1:focus ~ #labNom1,
#prenom1:valid ~ #labPrenom1,
#prenom1:focus ~ #labPrenom1,
#mail1:valid ~ #labMail1,
#mail1:focus ~ #labMail1,
#tel1:valid ~ #labTel1,
#tel1:focus ~ #labTel1
{
    font-size: 0.80rem;
    transform: translateY(-15px);
}
/* idem ts i */
#nom1:valid ~ #iNom1,
#nom1:focus ~ #iNom1,
#prenom1:focus ~ #iPrenom1,
#prenom1:valid ~ #iPrenom1,
#mail1:focus ~ #iMail1,
#mail1:valid ~ #iMail1,
#tel1:valid ~ #iTel1,
#tel1:focus ~ #iTel1
{
    height: 65%;
}

/* les * pr obligatoire */
.red{
    color: rgb(180, 3, 3);
}

/* btn envoyer */
#btn1{
    position: absolute;
    bottom: 2vh;
    width: 8vw;
    padding: 5px;
    color: #333;
    font-size: 1.1rem;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    border: none;
    cursor: pointer;
    left: 26vw;
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.568);
}
#btn1:active{
    box-shadow: inset 2px 2px 5px rgba(54, 54, 54, 0.568);
}

.g-recaptcha{
    position: absolute;
    bottom: 3vh;
    left: 0vw;
}

/* btn precedent page 4 */
#pre4{
    bottom: 3vh;
    left: -10vw;
}