/* page devis 2 */

#p2{
    width: 70vw;
    margin-left: 15%;
    height: 70vh;
    position: absolute;
    top: 6vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: pink 3px solid; */
    /* left: -100vw; */
}

.left0{
    left: 0;
}
.left{
    left: -100vw;
}

#p2 h3{
    margin-top: 17vh;
    margin-bottom: 7%;
}

/* chemin, tout est déjà ds css1 */
#grid{
    /* background-color: rgb(231, 231, 231); */
    margin-top: -3vh;
    height: 52%;
    width: 75%;
    /* margin-left: 5%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
#grid img{
    width: 30%;
}

#grid p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 24%;
    height: 40%;
    /* border: 2px green solid; */
    margin-bottom: 1.2vh;
}

#grid p, #g1{
    cursor: pointer;
}




/* class selon si selectionné ou pas, choix multiples */
.R2{
    border: none;
    padding: 0;
    width: 11vw;
    text-align: center;
    padding: 5px;
    border: 2px transparent solid;
}
.selecte{
    border: rgba(213, 180, 61, 0.795) 2px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 253, 247, 0.842);
    width: 11vw;
    text-align: center;
}

/* btn suivant 1 */
#s1{
    bottom:4vh;
    right: -10vw;
}

/* btn suivant 2 */
#s2{
    bottom: 7vh;
    right: -10vw;
}
/* btn precedent page 2 */
#pre2{
    bottom: 7vh;
    left: -10vw;
}


my-alert{
    position: absolute;
    top: 42%;
    left: 35%;
    height: 15vh;
    width: 30vw;
    border-radius: 20px;
    border: rgba(213, 180, 61, 0.795) 2px solid;
    z-index: 3;
    background-color:  rgb(255, 253, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

my-alert button{
    width: 4vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(213, 180, 61);
    color: white;
    font-size: 1.1rem;
}

.hideAlert{
    display: none;
}
