*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(68, 68, 68);
}

body{
    position: relative;
}

/* travail sur le header */
header{
    width: 100%;
    height: 10vh;
    /* border: solid black 1px; */
    display: flex;
    background-color: rgb(213,180,61);
    box-shadow: 0px 5px 5px rgba(107, 107, 107, 0.452);
    position: sticky;
    top: 0;
    z-index: 100;
    padding-left: 3vh;
}

#logo{
    filter: 5px 5px 5px rgba(71, 71, 71, 0.527);
    -webkit-filter: drop-shadow(3px 3px 5px #525151c5);

}

header nav>a{
    width: 4%;
    display: flex;
    align-items: center;

    /* border: solid black 2px; */
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* la nav comprend le logo + les liens */
header nav{
    display: flex;
    width: 90%;
    /* border: red 1px solid; */
}
header div{
    width: 10%;
}

header nav ul{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-left: 16%;
    /* border: 1px solid black; */
}

header li{
    list-style: none;
    display: flex;
    justify-content: center;

}

nav a::first-letter{
    text-transform: capitalize;
}

header ul a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

}
/* header ul a:hover,  */
.pageActive{
    /* color: rgb(124, 106, 3); */
    font-size: 1.5rem;
    font-weight: 600;
}


/* les button pour changer la langue */
header div{
    display: flex;
    align-items: center;
}
.langue{
    width: 50%;
    background-color: rgb(213,180,61);
    border: none;
}
.langue>img{
    width: 55%;
    cursor: pointer;
}
/* separateur des icones langues */
header p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 6px;
}

/* la fleche pour remonter en haut de page */
#scroll_to_top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vh;
    bottom: 20vh;
    right: 12vw;
    transition: .5s;
    }

#scroll_to_top img{
    width: 100%;
}
#scroll_to_top:hover{
    width: 6vw;
    height: 6vh;
    right: 13.5vw;
}






/* footer */
footer{
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: rgb(213,180,61);
    box-shadow: 0px -5px 5px rgba(107, 107, 107, 0.452);
    color: white;
    font-size: 1.1rem;
    position: relative;
}

/* adresse tél */
#infosContact{
    width: 15%;
    margin-left: 2%;
    height: 70%;
    background-color: rgb(213,180,61);
}
#infosContact>p{
    color: white;
}

/* nav */
footer nav{
    width: 50%;
    /* border: solid black 2px; */
    margin-bottom: 2%;
    margin-left: 6%;

}
footer nav ul{
    display: flex;
    justify-content: space-around;

}
footer nav p{
    color: white;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color:rgb(156, 133, 0)
}


/* icone fb */
#fb{
    width: 10%;
}

footer img{
    margin-left: 200%;
    width: 35%;
    transition: 0.5s;
}

footer img:hover{
    width: 40%;
    margin-left: 197%;
}

/* copyright lien mentions legales */
#copyrigth{
    position: absolute;
    bottom: 5px;
    left:40%;
}