/* fleche retour */
#retour img{
    width: 20px;
    margin: 0 1vw;
}
#retour{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 3vh;
}

#scroll_to_top{
    display: none;
}

h1, main p{
    width: 100%;
    text-align: center;
    margin: 5vh 0;
}

main section{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5vh;

}
aside{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}
aside article{
    width: 45%;
    height: 25vh;
    border: 1px solid grey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    cursor: pointer;
    border-radius: 5px;
}
aside img{
    height: 100%;
}


main div{
    width: 70%;
    overflow: hidden;
    position: relative;
}
main div article{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
}
main div img{
    width: 100%;
}
main div article div{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
main div article div p{
    margin-top: 0;
    text-align: justify;
}
aside article img:hover{
    scale: 1.1;
}

.derriere{
    z-index: 1;
}

.devant{
    z-index: 5;
}




