{% extends 'layout.html.twig' %}

{% block body %}

    <div>ML</div>



    


    <div>
        <h3>Données des imgs</h3>

        <p>drapeaux</p>
        <p><a href="https://www.flaticon.com/free-icons/france" title="france icons">France icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/fr/icones-gratuites/royaume-uni" title="royaume-uni icônes">Royaume-uni icônes créées par Freepik - Flaticon</a></p>

        <p>Fb</p>
        <a href="https://www.flaticon.com/fr/icones-gratuites/facebook" title="facebook icônes">Facebook icônes créées par Pixel perfect - Flaticon</a>
        <p>shovel</p>
        <a href="https://www.flaticon.com/free-icons/travel" title="travel icons">Travel icons created by Freepik - Flaticon</a>
        <p>arrowTop</p>
        <a href="https://www.flaticon.com/free-icons/upload" title="upload icons">Upload icons created by Freepik - Flaticon</a>




        <p>accueil</p>
        Image par <a href="https://pixabay.com/fr/users/stux-12364/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1034901">Stefan Schweihofer</a> de <a href="https://pixabay.com/fr//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1034901">Pixabay</a>

        <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by itim2101 - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by prettycons - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a>



        <p>A propos</p>
        <p>valeurs</p>
        <a href="https://www.flaticon.com/fr/icones-gratuites/environnement" title="environnement icônes">Environnement icônes créées par Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/fr/icones-gratuites/valeurs" title="valeurs icônes">Valeurs icônes créées par Icongeek26 - Flaticon</a>
    </div>
    

{% endblock %}