{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/devis/pdf.css') }}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}
    <title>PDF</title>
{% endblock %}

{% block body %}
    <div class="container">
        <img src="{{ assets('/assets/imgs/logo/logo.svg') }}" alt="logo">
        <h1>Récapitulatif de ma demande de devis faite le </h1>
            <p>L'objet de ma rénovation : </p>
            <p>Je pense avoir besoin de : </p>
            <p>Description de mon projet : </p>
            <p>Mon nom : </p>
            <p>Mon prénom : </p>
            <p>Mon adresse mail : </p>
            <p>Mon numéro de téléphone : </p>
            <p>Merci pour votre confiance, nous vous recontacterons<br>dans les plus brefs délais.</p>
    </div>
    <div class="mesBtns">
        <button class="monPdf">Générer mon PDF</button>
        <button class="retry">Recommencer un devis</button>
    </div>
{% endblock %}

{% block scripts %}
    
{% endblock %}