#anim{
    height: 91vh;
    position: relative;
    overflow: hidden;
}

/* chaussures */
.boot{
    position: absolute;
    height: 13vh;
}
#leftShoe{
    bottom: 4vh;
    left: -12vw;
    opacity: 0.6;
}
#rightShoe{
    bottom: 2vh;
    left: -12vw;
}

/* seau V2 */
#handBucket{
    position: absolute;
    bottom: -8.5vh;
    left: 36.5vw;
    height: 50vh;
    z-index: 1;
}
/* seau v1 */
#bucket{
    position: absolute;
    bottom: 2vh;
    left: 50%;
    height: 15vh;
    z-index: 1;
}
/* tache laissée par le seau */
#dirt{
    position: absolute;
    bottom: -17.25vh;
    left: 37vw;
    height: 45vh;
    transform : rotateX(300deg);
    z-index: 0;
    /* transform: rotate3d(1,5,1, 15deg); */
}
/* placement logo, vue finale */
#logo_titre{
    position: absolute;
    bottom: 28vh;
    left: 25vw;
    height: 40vh;
    opacity: 0;
}

/* classes qui rajoutent animations */
/* seau */
.animBucket{
    animation-name: swaggiSwag;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
/* shoes */
.animShoe{
    animation-name: goBanana;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
/* dirt */
.dirt{
    animation-name: peinturlurer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


/* classList.add pr mettre en pause */
.pause{
    animation-play-state: paused;
}
/* hidden */
.cache{
    visibility: hidden;
}
/* effet marche */
.rotate{
    transform: rotate(45deg);
}

/* appeler animation remplacer tache par logo */
.aufWierdesehen{
    animation-name: aufWierdesehen;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.hallo{
    animation-name: hallo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/* animations */
/* fait se déplacer les chaussures */
@keyframes goBanana{
    from{
        left:-12vw
    }to{
        left:110vw
    }
}
/* fait se deplacer le seau */
@keyframes swaggiSwag{
    from{
        left: 36.5vw;
    }10%{
        bottom: 7vh;
        left: 36.5vw;
    }to{
        left: 110vw;
        bottom: 7vh;
    }
}
/* met droite la tache et le positionne */
@keyframes peinturlurer{
    from{
        bottom: -17.25vh;
        left: 37vw;
        transform : rotateX(300deg);
        height: 45vh;
    }to{
        bottom: -9.5vh;
        left: -8.75vw;
        transform : rotateX(360deg);
        height: 115vh;
    }
}
/* fait disparaitre la tache */
@keyframes aufWiedersehen{
    from{
        opacity: 1;
    }to{
        opacity:0
    }
}
/* fait apparaitre le titre avec logo */
@keyframes hallo{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* deuxieme partie de la page */

/* container img gauche + text et liens gauche */
#intro{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    height: 65vh;
    margin-top: 3vh;
    color: rgb(68, 68, 68);
}

/* image des pinceaux et rouleaux */
#intro img:first-child{
    width: 45%;
    height: 70%;
    border-radius: 40px;
    margin-top: 2vh;
}

.mediaQ{
    display: none;
}

/* contient les deux titres et blabla */
#intro div{
    width: 50%;
    margin-left: 5%;

}
h1, h2, h1 my-p{
    color:  rgb(213,180,61);
    font-size: 1.3rem;
    font-weight: 400;
    margin: 3% 0;
}
/* texte en haut des liens redirection */
#blo{
    margin-bottom: 2%;
    width: 90%;
    text-align: justify;
}

/* les fleches pour acceder aux autres pages */
#intro li img{
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
    margin-left: 3px;
}
/* liens autres pages */
#intro a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}
#intro a:hover{
    text-decoration:underline;
}

#intro li{
    margin-bottom: 3px;
    list-style: inside;
}

/* style liens redirection */
#intro ol li{
    list-style: none;
}


/* btn redirige devis */
#dev{
    padding: 10px;
    margin-left: 41%;
    border-radius: 50px;
    border: none;
    background-color:  rgb(213,180,61);
    margin-bottom: 6vh;
    margin-top: 4vh;
    width: 17%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

#dev a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;

}

#dev:active{
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.466);
}