#container{
    display: flex;
    color: rgb(68, 68, 68);
    width: 100%;

}

/* maps et infos */
aside{
    width: 50%;
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: space-around;
}

aside div{
    text-align: center;
}

aside p{
    margin-bottom: 2vh;
}

aside a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

/* form */
section{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

form{
    position: relative;
    width: 50%;
    height: 65vh;
    margin-left: 18vh;
}

/* faire les floating placeholder */


/* NOM */
/* input */
#nom{
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 3;
    margin-top: 1.5vh;
}

/* label pour le nom */
#labNom{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #333;
    letter-spacing: 0.05rem;
    z-index: 2;
}


/* deco, le i qui s'étend*/
#iNom{
    position: absolute;
    bottom: 58vh;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    z-index: 2;
    border-radius: 15px;
    pointer-events: none;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* COMMUNS A TOUS */
/* faire remonter le label */
#nom:valid ~ #labNom,
#nom:focus ~ #labNom,
#prenom:valid ~ #labPrenom,
#prenom:focus ~ #labPrenom,
#mail:valid ~ #labMail,
#mail:focus ~ #labMail,
#tel:valid ~ #labTel,
#tel:focus ~ #labTel
{
    font-size: 0.80rem;
    transform: translateY(-19px);
}
/* idem ts i */
#nom:valid ~ #iNom,
#nom:focus ~ #iNom,
#prenom:focus ~ #iPrenom,
#prenom:valid ~ #iPrenom,
#mail:focus ~ #iMail,
#mail:valid ~ #iMail,
#tel:valid ~ #iTel,
#tel:focus ~ #iTel
{
    height: 5vh;
}



#prenom{
    margin-top: 1.7vh;
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 3;
}

/* label pour le prenom */
#labPrenom{
    position: absolute;
    left: 0;
    top: 8vh;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #333;
    letter-spacing: 0.05rem;
    z-index: 2;
}

/* deco, le i qui s'étend*/
#iPrenom{
    position: absolute;
    bottom: 50vh;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    z-index: 2;
    border-radius: 15px;
    pointer-events: none;
}





/* input mail */
#mail{
    margin-top: 1.7vh;
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 3;
}

/* label pour le mail */
#labMail{
    position: absolute;
    left: 0;
    top: 16vh;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #333;
    letter-spacing: 0.05rem;
    z-index: 2;
}

/* deco, le i qui s'étend*/
#iMail{
    position: absolute;
    bottom: 42.5vh;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    z-index: 2;
    border-radius: 15px;
    pointer-events: none;
}






/* input tel */
#tel{
    margin-top: 1.7vh;
    position: relative;
    padding: 8px 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    z-index: 3;
}

/* label pour le tel */
#labTel{
    position: absolute;
    left: 0;
    top: 24vh;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    color: #333;
    letter-spacing: 0.05rem;
    z-index: 2;
}

/* deco, le i qui s'étend*/
#iTel{
    position: absolute;
    bottom: 34.5vh;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(224, 224, 224);
    transition: 0.5s;
    z-index: 2;
    border-radius: 15px;
    pointer-events: none;
}




/* style zone de texte */
#labMess{
    position: absolute;
    top: 32vh;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1rem;
}
#message{
    position: absolute;
    top: 36.5vh;
    left: 0;
    width: 100%;
    height: 20vh;
    border: none;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    padding: 8px 5px;
    font-size: 0.9rem;

}

#message:valid ~ #labMess,
#message:focus ~ #labMess
{
    font-size: 0.80rem;
}




/* style btn */
#btn{
    position: absolute;
    bottom: 0;
    width: 10vw;
    padding: 5px;
    color: #333;
    font-size: 1.1rem;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    border: none;
    cursor: pointer;
    left: 32%;
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.568);
}

#btn:active{
    box-shadow: inset 2px 2px 5px rgba(54, 54, 54, 0.568);
}



/* div pour cacher la fleche scroll to top */
#triche{
    position: absolute;
    height: 20vh;
    width: 20vh;
    bottom: 3vh;
    right: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}