{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/loader.css') }}">
{% endblock %}

{% block body %}
        <section class="loade" class="meringue">
            <div class="loader"></div>
        </section>
{% endblock %}

{# {% block scripts %}
    <script src="{{ assets('/assets/js/loader.css') }}"></script>
{% endblock %} #}